body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f0fff0;
}

header {
  background-color: #2e8b57;
  padding: 20px;
  color: white;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav li {
  margin: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  background: #3cb371;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.3s;
}

nav a:hover {
  background-color: #2e8b57;
}

main {
  padding: 20px;
  text-align: center;
}
